* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    padding: 0;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: auto;
}

.navbar img {
    width: 20px;
    height: auto;
}

.navbar button {
    margin: 10px 0;
    outline: none;
    border: 0;
    background-color: transparent;
}

.nav1 {
    display: flex;
    justify-content: center;
    font-size: 0.97em;
    margin: 18px 7px;
    text-align: center;
    color: rgba(0, 0, 0, 0.822);
}

.smallnav {
    display: none;
}

@media (max-width:900px) {
    .navbar {
        display: none;
    }

    .smallnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 15px;
    }

    .smallnav img {
        width: 20px;
        height: auto;
    }

    .abc i {
        padding: 0 8px;
        color: darkgray;
    }
}

.pic1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.pic1 img {
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}


.flex-cont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.flex-cont img {
    width: 48%;
    height: auto;
    margin-bottom: 13px;
}

.pic20 {
    display: none;
}

@media (max-width:730px) {
    .flex-cont {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-wrap: wrap;

    }

    .flex-cont img {
        width: 100%;
        height: auto;
        margin-bottom: 13px;
    }

    .pic20 {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .pic20 img {
        width: 100%;
        height: auto;
        margin-bottom: 14px;
    }

    .pic1 {
        display: none;
    }
}

main {
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.048);
}

.mainlist {
    display: flex;
    justify-content: center;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 0.91em;
    font-weight: 100;
    gap: 20px;
}

.lists li {
    padding: 4px 0;
    color: grey;
}



.lists li:hover {
    cursor: pointer;
    text-decoration: underline;

}

.lists ul {
    list-style: none;
}

.lists li b {
    padding: 2px 0;
    color: rgba(0, 0, 0, 0.767);
    cursor: text;
    text-decoration: none;
}

.lists li b:hover {
    cursor: text;
    text-decoration: none;

}

.maintex {
    display: flex;
    justify-content: center;
}

.tex {
    padding: 14px 0;
    border-bottom: 1px solid grey;
    width: 90%;
}

.tex h4 {
    margin: 8px 0;
    font-size: 0.93em;
    color: grey;
    font-weight: 100;
}

.monlist {
    display: none;
}

@media (max-width:835px) {
    .mainlist {
        display: none;
    }

    .monlist {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 8px 0;

    }

    .monlist1 {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        width: 90%;
        height: auto;
        padding: 8px 0;
        color: rgba(0, 0, 0, 0.774);
        font-size: 0.88em;
    }

}

.blue {
    color: blue;
}

.ending {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 8px 0;
}

.end {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    align-items: center;
    gap: 4px;
    padding: 8px 0;
    color: rgba(0, 0, 0, 0.774);
    font-size: 1.20em;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.ending1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 11px 0;
 
}

.end1 h6 {
    font-size: 0.93em;
    white-space: nowrap;
    color: gray;
}
.end3 h6 {
    font-size: 0.93em;
   white-space: nowrap;
   color: gray;
}
.end2 h6 {
    font-size: 0.93em;
    white-space: nowrap;
    color: gray;
}

.end2 {
    display: flex;
    gap: 12px;
}

@media (max-width:800px) {
    .ending1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 11px 0;
}

.end1 h6 {
    font-size: 0.81em;
    

}
.end3 h6 {
    font-size: 0.81em;
   
}
.end2 h6 {
    font-size: 0.81em;
   display: flex;
   margin: 6px 0;
   flex-wrap: wrap;

}

.end2 {
    display: flex;
    gap: 5px;
}

.nav1 {
    font-size: 0.80em;
}
}

